# <center> PJM Generation by Fuel: Data Visualization </center>

In [1]:
import os
import pandas as pd

In [2]:
df = pd.read_csv(
    os.path.join(os.pardir, 'formatted_data','pjm_gen_by_fuel_type.csv'), parse_dates=[0], index_col=0)

In [3]:
# Mean hourly in all years. Of non-emitting sources, nuclear is most prominent. Wind is a distant second.  
df.reset_index().groupby('FUEL_TYPE').mean().sort_values('PERCENT_TOTAL', ascending=False)

                  Generation (MW)  PERCENT_TOTAL
FUEL_TYPE
Nuclear              32534.828247       0.364363
Coal                 29945.311110       0.322395
Gas                  22823.356073       0.246103
Wind                  2126.784232       0.024202
Hydro                 1511.472282       0.015559
Other                 1200.395876       0.012334
Multiple Fuels         915.581515       0.009347
Other Renewables       616.938457       0.004660
Oil                    235.098240       0.000727
Solar                   94.618391       0.000308
Flywheel                 0.000000       0.000000
Storage                  0.057128       0.000000

In [4]:
# Mean hourly in 2016 
df[df.index.year == 2016].reset_index().groupby('FUEL_TYPE').mean().sort_values('PERCENT_TOTAL', ascending=False)

                  Generation (MW)  PERCENT_TOTAL
FUEL_TYPE
Nuclear              31963.514314       0.360079
Coal                 30652.118207       0.329506
Gas                  21189.309305       0.229454
Other                 2356.132965       0.024497
Wind                  1917.031778       0.022041
Multiple Fuels        1352.355499       0.014160
Hydro                 1363.928128       0.013999
Other Renewables       634.381280       0.005568
Oil                    200.967768       0.000697
Solar                   62.964092       0.000000
Storage                  0.000000       0.000000
Flywheel                      NaN            NaN

In [5]:
# Mean hourly in 2017
df[df.index.year == 2017].reset_index().groupby('FUEL_TYPE').mean().sort_values('PERCENT_TOTAL', ascending=False)

                  Generation (MW)  PERCENT_TOTAL
FUEL_TYPE
Nuclear              33112.265811       0.368742
Coal                 29215.502237       0.315109
Gas                  24480.940262       0.263025
Wind                  2338.640770       0.026392
Hydro                 1661.822692       0.017150
Multiple Fuels         472.970715       0.004470
Other Renewables       599.178688       0.003742
Oil                    268.698506       0.000750
Solar                  126.807226       0.000620
Flywheel                 0.000000       0.000000
Other                   28.346493       0.000000
Storage                  0.115142       0.000000